**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
string="sara"
print(len(string))

4

In [4]:
c=0
for i in string:
    c+=1
print(c)

4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [10]:
string=input("please enter your string")
if len(string)<2:
    print(" ")
else:
    print(string[0:2],end='')
    print(string[len(string)-2:])

please enter your stringw

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [14]:
string=input("please enter your string")
if len(string)<3:
    s=string
elif string[len(string)-3:]=="ing":
    s=string+"ly"
else:
    s=string+"ing"
print(s)

please enter your stringread
reading

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [26]:
def longest_length(ls):
    max_len=len(ls[0])
    max_word=ls[0]
    for i in ls:
        if max_len<len(i):
            max_len=len(i)
            max_word=i
    ans=[max_word,max_len]
            
    return ans
ls=["sara","ahmed","sara_khataam"]
longest_length(ls)
# this solution general to any length not equal 9

['sara_khataam', 12]

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [38]:
s =input("your string: ")
x=chr(ord(s[0])+1)
new_s=s.replace(s[0],x)
finial_s=new_s.replace(s[len(s)-1],x)
print(finial_s)

your string: abca
bbcb

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [8]:
string= input()
new_str=''
for index in range(len(string)):
    if (index)%2 == 0:
        new_str+=string[index]
        
print(new_str)

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [22]:
txt="amr and ahmed are frindes but amr is the tallest"
lst=[]
s=''
for word in txt:
    if word == " ":
        lst.append(s)
        s=' '
    else:
        s+=word
    
for word in lst:
    print(word)
    print(txt.count(word))

amr
2
 and
1
 ahmed
1
 are
1
 frindes
1
 but
1
 amr
1
 is
1
 the
1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [19]:
s=input()
print(s.lower())
print(s.upper())

ASSdff
assdff
ASSDFF

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [30]:
def reverse_str(string):
    if len(string)%4==0:
        s=string[::-1]
        return s
print(reverse_str("sara"))

None

**10- Write a Python program to remove a newline in Python

In [39]:
string="asdfgh\n asdfg"
print(''.join(string.splitlines()))

asdfgh asdfg

**11-Write a Python program to check whether a string starts with specified characters

In [42]:
chars=['&','@','*','#']
s="#sara"
if s[0] in chars:
    print("true")
else:
    print("false")

true

**12- Write a Python program to add prefix text to all of the lines in a string

In [47]:
lst=["ali","alaa"]
new_lst=[]
for i in lst :
    i= "mrs "+i
    new_lst.append(i)
     
print(new_lst)

['mrs ali', 'mrs alaa']

**13-Write a Python program to print the following numbers up to 2 decimal places

In [51]:
round(85.669123,2)

85.67

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [52]:
round(-85.635,2)

-85.64

**15-Write a Python program to display a number with a comma separator

In [54]:
num = 10000
 
print(f"{num:,d}")

10,000

**16-Write a Python program to reverse a string using 2 ways

In [63]:
print("sara"[::-1])

string="sara"
new_str=''
for i in range(len(string)-1,-1,-1):
    new_str+=string[i]
print(new_str)

aras
aras

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [66]:
string="sara"
dict_repeat={}
for i in string:
        dict_repeat[i] = dict_repeat.get(i,0)+ 1
print(dict_repeat)

{'s': 1, 'a': 2, 'r': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [69]:
string="sara"
dict_repeat={}
for i in string:
        dict_repeat[i] = dict_repeat.get(i,0)+ 1
print(dict_repeat)
for i in dict_repeat:
    if dict_repeat[i]==1:
        print(i)
        break

{'s': 1, 'a': 2, 'r': 1}
s

**19-Write a Python program to remove spaces from a given string

In [70]:
string="i am sara"
print(string.replace(" ",""))

iamsara

**20-Write a Python program to count the number of non-empty substrings of a given string

In [72]:
string="sara"
num_len=len(string)
print((num_len*(num_len+1))/2)

10.0

**21-write a Python program to swap first and last element of any list.

In [76]:
string="sara"
f_char=string[0]
l_char=string[len(string)-1]
mid_char=string[1:len(string)-1:1]
new_string=l_char+mid_char+f_char
print(new_string)

aars

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [94]:
ls=[]
flag=True
while flag:
    x=int(input())
    if x==-1:
        flag=False
    else:
        ls.append(x)
pos1=int(input())
pos2=int(input())
temp=ls[pos1-1]
ls[pos1-1]=ls[pos2-1]
ls[pos2-1]=temp
print(ls)

23
65
19
90
-1
1
3
[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
ls=[20,10,30]
max_num=ls[0]
for i in ls:
    if i>max_num:
        max_num=i
        
print(max_num)

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [79]:
ls=[20,10,30]
min_num=ls[0]
for i in ls:
    if i<min_num:
        min_num=i
        
print(min_num)

10

**26-search for if an elem is existing in list

In [95]:
ls=[20,10,30]
flag=True
for i in ls:
    if i==30:
        print("true")
        flag=False
if flag:
    print("false")

true

**27- clear python list using different ways

In [96]:
ls=[20,10,30]
ls.clear()
print(ls)

[]

**28-remove duplicated elements from a list

In [97]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [101]:
ls=['a','s','a','r','r']
a={}
for i in ls:
        a[i] = a.get(i,0)+ 1
for i in a:
    if a[i]==1:
        print(i)

s

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [111]:
ls = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
a={}
l=[]
k=int(input())
for i in ls:
        a[i] = a.get(i,0)+ 1

for i in a:
    if a[i]>=k:
        l.append(i)
print(l)

3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [113]:
ls=[1,2,2,3,4,5]
new_ls=[]
for i in range(1,len(ls),1):
    if ls[i]>=ls[i-1]:
        new_ls.append(ls[i])
    elif ls[i]<ls[i-1]:
        new_ls.append(ls[i-1])
print(new_ls)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [118]:
from itertools import permutations

ls = permutations([1, 2, 3], 3)

for i in ls:
    print(" ".join(str(num) for num in i), end=" ## ")

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [135]:
from itertools import combinations

test_list = [1, 2, 3]

ls_2 = combinations(test_list, 2)
n_ls = list(ls_2)

ls_1 = combinations(test_list, 1)
n_ls.extend(list(ls_1))
n_ls.append(test_list)

formatted_list = [list(item) for item in n_ls]
print(formatted_list)

[[1, 2], [1, 3], [2, 3], [1], [2], [3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [138]:
import itertools

list_1 = ["a","b"] 
list_2 = [1,2]
 
unique_combinations = []
 
permut = itertools.permutations(list_1, len(list_2))
 
for comb in permut:
    zipped = zip(comb, list_2)
    unique_combinations.append(list(zipped))
 
print(unique_combinations)

[[('a', 1), ('b', 2)], [('b', 1), ('a', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [152]:
ls=[1, 1, 2, 3, 4, 5, 1 ,2]
a={}
for i in ls:
        a[i] = a.get(i,0)+ 1
max_num=a[1]
j=1
for i in a:
    if a[i]>max_num:
        max_num=a[i]
        j=i
print(j)
        
for k in ls:
    if k==j:
        ls.remove(k)
        
print(ls)

1
[2, 3, 4, 5, 1, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [155]:
ls_1= ["Gfg", "is","best"] 
ls_2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
ls_3=[]
for i in ls_2:
    ls_3.append(ls_1[i])
print(ls_3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [160]:
ls_1=[(4, 5, 5, 4), (5, 4, 3)]
k=int(input())
n=int(input())
for i in ls_1:
    a={}
    for j in i:
        a[j] = a.get(j,0)+ 1
    if a[k]==n:
        print(i)
    a.clear()

5
2
(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [161]:
ls= [[1, 3, 3], [2, 1, 2], [3, 2, 1]] 

ls_1 = sorted(ls, key=lambda x: x[0])
ls_2 = sorted(ls, key=lambda x: x[1])
ls_3 = sorted(ls, key=lambda x: x[2])

print("Sorted array specific to column 0:", ls_1)
print("Sorted array specific to column 1:", ls_2)
print("Sorted array specific to column 2:", ls_3)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [162]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_by_items =dict(sorted(d.items()))
sorted_by_value = dict(sorted(d.items(), key=lambda x: x[1]))
print(sorted_by_items)
print(sorted_by_value)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [185]:
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
k = 7

copied_dict = test_dict.copy()
for key, value in test_dict.items():
    if str(value) >= str(k):
        del copied_dict[key]

print(copied_dict)

{'Gfg': 3, 'best': 10, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [186]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

new_dict = {}

new_dict.update(dic1)
new_dict.update(dic2)
new_dict.update(dic3)

print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [187]:

dic1 = {1: 10, 2: 20}

for key, value in dic1.items():
    print(key, ':', value)

1 : 10
2 : 20

**44- Write a Python script to merge two Python dictionaries

In [189]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}


new_dict = {}

new_dict.update(dic1)
new_dict.update(dic2)


print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [190]:

max_value = max(new_dict.values())
min_value = min(new_dict.values())

print( max_value)
print( min_value)

40
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [191]:
test_dict={'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict=test_dict.copy()
for key, value in test_dict.items():
    if value==None:
        del new_dict[key]
print(new_dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [192]:
tuples=(1,2,3)
tuples[0]

1

**48-Write a Python program to unpack a tuple into several variables

In [196]:

tuples = (10, 20, 30)
a, b, c = tuples
print(a)
print(b)
print(c)

10
20
30

**49-Write a Python program to add an item to a tuple

In [198]:
x = (1, 2, 3)
y = list(x)
y.append(7)
x = tuple(y)

print(x)

(1, 2, 3, 7)

**50-Write a Python program to convert a tuple to a string

In [200]:
# Tuple with elements
tuples = ('Hello ', 'World', '!')


string = ''.join(tuples)

print(string)

Hello World!

**51-Write a Python program to convert a list to a tuple

In [201]:
ls = [10, 20, 30, 40, 50]
tuples = tuple(ls)

print(tuples)

(10, 20, 30, 40, 50)

**52-Write a Python program to reverse a tuple

In [203]:

tuples = (10, 20, 30, 40, 50)
new_tuple = tuples[::-1]


print(new_tuple)

(50, 40, 30, 20, 10)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [204]:

ls = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
k = 100
new_ls=[]
for  i in ls:
    new_ls.append([i[0],i[1],k])
print(new_ls)

[[10, 20, 100], [40, 50, 100], [70, 80, 100]]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [205]:
string = "python 3.0 <class 'str'>"
tuples = tuple(string)

print(tuples)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0', ' ', '<', 'c', 'l', 'a', 's', 's', ' ', "'", 's', 't', 'r', "'", '>')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [206]:
tuples=(10,20,30)
ls=list(tuples)
sum_ls=0
num_element=0
for i in ls:
    sum_ls+=i
    num_element+=1
print(sum_ls/num_element)

20.0

**56-Write a Python program to add member(s) to a set.

In [208]:
sets = {10,20,30}

sets.add(40)

print(sets)

{40, 10, 20, 30}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [210]:
sets = {10,20,30}

sets.remove(30)

print(sets)

{10, 20}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [211]:
set1 = {1, 2, 3,4}
set2 = {4, 5, 6}

intersection = set1.intersection(set2)
print(intersection)

union = set1.union(set2)
print(union)

difference = set1.difference(set2)
print(difference)

symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{1, 2, 3, 5, 6}

**59-Write a Python program to find the maximum and minimum values in a set

In [212]:

max_value = max(set1)
print(max_value)

min_value = min(set1)
print(min_value)

4
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [214]:
ls=[1,2,3,4,5,6]
k =int(input())
for i in ls:
    for j in ls:
        if i+j==k:
            print(i,j)

6
1 5
2 4
3 3
4 2
5 1